$bg: #0c0019;
$white: #ebebd3;
$orange: #ee964b;
$purple: #7000e9;
$purple2: #8f28ff;
$purple3: #b46eff;

html,
body {
    min-width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: $bg;
    color: $white;
    font-family: "Inter", sans-serif;
}

p {
    margin: 0;
    font-size: 20px;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
    color: $orange;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    color: $orange;
    margin: 0 0 4rem 0;
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    p:nth-child(2) {
        font-size: 32px;
        font-weight: 700;
        color: $orange;
    }

    p:nth-child(3) {
        font-size: 32px;
        font-weight: 700;
        color: $purple3;
    }

    .triangle {
        position: absolute;

        &.left {
            bottom: 0;
            left: 0;
        }

        &.right {
            top: 0;
            right: 0;
        }
    }

    #leftTri1 {
        background: linear-gradient(to right top, $purple 50%, transparent 50%);
        width: 40%;
        height: 40%;
    }

    #rightTri1 {
        background: linear-gradient(to left bottom, $purple 50%, transparent 50%);
        width: 40%;
        height: 40%;
    }

    #leftTri2 {
        background: linear-gradient(to right top, $purple2 50%, transparent 50%);
        width: 20%;
        height: 20%;
        z-index: 2;
    }

    #rightTri2 {
        background: linear-gradient(to left bottom, $purple2 50%, transparent 50%);
        width: 20%;
        height: 20%;
        z-index: 2;
    }

    #leftTri3 {
        background: linear-gradient(to right top, $purple3 50%, transparent 50%);
        width: 0%;
        height: 0%;
        z-index: 3;
    }

    #rightTri3 {
        background: linear-gradient(to left bottom, $purple3 50%, transparent 50%);
        width: 0%;
        height: 0%;
        z-index: 3;
    }
}

.seperator {
    width: 100%;
    background: $purple;

    &.main {
        height: 1rem;
    }

    &.sub {
        height: 8px;
        margin: 6rem 0;
    }
}

nav {
    border-bottom: 0.25rem solid $orange;
    background: $bg;

    ul {
        list-style: none;
        display: flex;
        gap: 4rem;
        margin: 0;
        padding: 32px 0;

        li a {
            text-decoration: none;
            color: $white;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $orange;
            }

            &.selected {
                color: $purple3;
            }
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    #menuButton {
        display: none;
        font-size: 2rem;
        padding: 1rem 0;
        width: 100%;
        justify-content: flex-end;
        z-index: 999999;
    }
}

#outerContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

#innerContent {
    width: clamp(100px, calc(100% - 8rem), 1024px);
}

.smallSection {
    width: 100%;
    padding: 6rem 0;
    display: inline-block;

    h2 ~ * {
        margin-left: 2rem;
    }

    &#about {
        padding: 12rem 0 6rem 0;
    }
}

#education {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 2rem;

    i {
        font-size: 2rem;
        color: $orange;
        margin-right: 2rem;
    }

    > div:last-child {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        border-left: 0.25rem solid $orange;
        gap: 1rem 4rem;

        h3 {
            color: $purple3;
            margin: 0 0 0.5rem 0;
        }
    }
}

#skillsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        max-width: 500px;

        span {
            color: $purple3;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

#skillsCloud {
    width: 300px;
    height: 300px;
    // border: 1px solid white;

    .skill {
        position: absolute;
        transform-origin: center;
        color: $white;
        transition: color 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        &.selected {
            color: $purple3;
            transition: color 0.4s ease-in-out;
        }

        i {
            font-size: 70px;
        }

        img {
            height: 70px;
        }
    }
}

@media screen and (max-width: 700px) {
    nav {
        ul {
            display: none;
            border-top: 1px solid #7000e9;
            margin-top: 16px;

            &.open {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        #menuButton {
            display: flex;
        }

        #innerContent {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}
